@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

/* Formatação geral */
p {
    text-align: justify;
    text-indent: 25px;
}

a {
    color: #606066;
    text-decoration: none;
}

body {
    background-color: #19352A;
    font-family: 'Roboto', sans-serif;
}

div#interface {
    width: 1100px;
    background-color: #0C521F;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.507);
    padding: 10px;
}

h4 {
    margin: 0px;
}

/* Cabeçalho */
header#head img#icon {
    position: absolute;
    left: 1055px;
    top: 70px;
}

header#head {
    border-bottom: 1px black solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.png") no-repeat 0px 95px;
}

header#head h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 29pt;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-bottom: 0px;
}

header#head h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 13pt;
    padding: 0px;
    margin-top: 0px;
}

/* Formatação de imagens e legendas */
figure.subtitle-img {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.247);
    box-shadow: 1px 1px 4px black;
}

figure.subtitle-img img {
    width: 100%;
    height: 100%;
}

figure.subtitle-img figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.subtitle-img:hover figcaption {
    opacity: 1;
}

/* Formatação do menu */
nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 500px;
}

nav#menu li {
    display: inline-block;
    background-color: #B5A243;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin: 1px;
    transition: background-color 0.7s;
}

nav#menu li:hover {
    background-color: rgb(121, 108, 43);
}

nav#menu li a {
    transition: color 0.4s;
}

nav#menu li:hover a {
    color: white;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: black;
    text-decoration: none;
}

nav#menu a:hover {
    color: white;
}

/* Estrutura */
section#body {
    display: block;
    width: 577px;
    float: left;
    border-right: 1px solid black;
    padding: 15px;
    background-color: #498A47;
}

aside#side {
    display: block;
    width: 450px;
    float: right;
    background-color: #498A47;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

aside#side h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    margin-top: 0px;
}

aside#side h2 {
    background-color: #98BA52;
    font-size: 13pt;
    padding: 5px;
}

footer {
    clear: both;
    border-top: 1px solid black;
}

footer p {
    text-align: center;
}

footer a {
    text-decoration: none;
}

/* Artigo */
article#main-news h2 {
    font-size: 12pt;
    background-color: #98BA52;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

article header#article-header h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    margin-bottom: 0px;
    margin-top: 0px;
}

article header#article-header h2 {
    font-size: 13pt;
    background-color: #98BA52;
    margin: 0px;
}

article header#article-header h3 {
    font-size: 12pt;
}

article .right {
    text-align: right;
}

/* Tabela */
table#specs {
    border: 1px solid #094937;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#specs td {
    border: 1px solid #094937;
    padding: 10px;
}

table#specs td.lc {
    background: #068360;
    vertical-align: middle;
    text-align: right;
    font-weight: bold;
}

table#specs td.rc {
    background-color: #0aa77a;
    text-align: left;
}

table#specs td.wb {
    border: none;
    border-right: 1px solid #094937;
    border-left: 1px solid #094937;
}

table#specs td.tb {
    border-top: 1px solid #094937;
}

table#specs td.bb {
    border-bottom: 1px solid #094937;
}

table#specs td.tcb {
    border-top: 1px solid #094937;
}

table#specs td.bbb {
    border-bottom: 1px solid #094937;
}

table#specs caption {
    font-size: 13pt;
    font-weight: bolder;
}

table#specs caption span {
    display: block;
    float: right;
    color: black;
    font-size: 8pt;
    margin-top: 10px;
}
