@charset "UTF-8";

/* Formulário */
form {
    width: 650px;
    margin: auto;
}

input, textarea {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, 0.37);
}

input:hover, textarea:hover {
    background: #e7e7e791;
}

legend {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
}

fieldset {
    border-color: #cecece;
    margin: 20px;
}

fieldset#gender {
    width: 150px;
}

fieldset#user {
    background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
}

fieldset#adress {
    background: url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#ask {
    background: url("../_imagens/icone-pagamento.png") no-repeat 95% 95%;
}