@charset "UTF-8";

/* Álbum de fotos */
ul#album {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style-type: none;
}

ul#album li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-in;
}

ul#album li span {
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}

ul#album li:hover span {
    opacity: 1;
}

ul#album li:hover {
    transform: scale(1.5);
}

ul#album li#photo-01 {
    background: url("../_imagens/galeria-01.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-size: white;
}

ul#album li#photo-02 {
    background: url("../_imagens/galeria-02.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-size: white;
}

ul#album li#photo-03 {
    background: url("../_imagens/galeria-03.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-size: white;
}

ul#album li#photo-04 {
    background: url("../_imagens/galeria-04.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-size: white;
}

ul#album li#photo-05 {
    background: url("../_imagens/galeria-05.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-size: white;
}

ul#album li#photo-06 {
    background: url("../_imagens/galeria-06.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-size: white;
}

ul#album li#photo-01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album li#photo-02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album li#photo-03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album li#photo-04:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album li#photo-05:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

ul#album li#photo-06:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}