@charset "UTF-8";

/* Estrutura */
section#content {
    width: 1000px;
    margin: auto;
}

/* iframe */
iframe#frame-spec {
    width: 380px;
    height: 280px;
    border: none;
    overflow: hidden;
}